.Credential_container {
  width: 100%;
  height: 95vh;
  background-image: url("../../assets/Images/back.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
}

.Login_form_wrapper {
  display: flex;
  width: 30%;
  flex-direction: column;
  padding: 10px 0 20px 0;
  align-items: center;
  background:white;
  box-shadow: 5px 5px 10px gray;
}
.Submit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 50px;
  margin-top: 15px;
  cursor: pointer;
  background: linear-gradient(94.71deg, #8658e8 0%, #4718ad 111.44%);
  border-radius: 6px;
}

.Submit_button > div {
  font-family: Mulish;
  font-size: 1em;
  color: white;
}

.Login_form_wrapper p {
  font-family: Mulish;
  font-size: 0.9em;
}
.google_signin {
  border: 1px solid rgba(32, 10, 77, 0.2);
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check_section {
  font-family: Mulish;
  font-size: 0.825em;
  color: black;
  margin-top: 10px;
}
.check_section span {
  font-family: Mulish;
  font-size: 1em;
  cursor: pointer;
  color: #8658e8;
}

.Login_form_wrapper h2 {
  font-size: 1.5em;
  font-family: Mulish;
  font-weight: bold;
  color: #4718ad;
  text-transform: uppercase;
}
.Profile_pic {
  font-family: Mulish;
  font-size: 0.825em;
  margin: 10px 0 5px 0;
  color: #8658e8;
}
.typing{
 margin-bottom: 30px;
 margin-top: -20px;
}

.typing >div{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #8658e8; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
 animation:typing 4s steps(40, end) forwards,
 blink-caret .75s step-end infinite;

}
.typing > div .Title{
    font-size: 2em;
    font-family: Mulish;
    font-weight: bold;
    color:rebeccapurple;
}
.Title_text{
  font-size: 1.1em;
  font-family: Mulish;
  color: purple;
}

@keyframes typing {
  0%{
    width: 0%;
  }
  10%{

  }
  20%{
    width: 20%;
  }
  30%{
      width: 35%;
  }
  40%{
    width: 50%;
  }
  50%{
    width: 70%;
  }
  60%{
    width: 100%;
  }
  65%{
    width: 100%;
  }
  70%{
    width: 90%;
  }
  80%{
    width: 70%;
  }
  90%{
    width: 50%;
  }
  100%{
    width: 34%;
    border:none;
  }
}
.ChooseFile_container{
  width: 200px;
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: purple; }
}

@media only screen and (max-width: 600px) {
  .Credential_container{
    background-position:1px;
  }
  .Login_form_wrapper{
    width: 55%;
  }
  .Submit_button {
    height: 30px;
  }
  .typing{
    margin-top: -50px;
  }
  .ChooseFile_container{
    width:130px;
  }
  .ChooseFile_container >input{
    font-size: 1em !important;
  }
}