.Input_wrapper {
  position: relative;
  margin-top: 20px;
}

.Input_wrapper > input {
  border: 0;
  width: 200px;
  caret-color: #8658e8;
  border-bottom: 1px solid gray;
  font-family: Mulish;
}

.Input_label {
  position: absolute;
  left: 0;
  bottom: 8px;
  font-family: Mulish;
  font-size: 0.825em;
  color: #8658e8;
  animation: move 0.5s ease forwards;
  animation-play-state: paused;
}
.show_icon {
  margin-left: -25px;
}
.Input_wrapper > input:focus {
  outline: none;
}

.Line {
  border-bottom: 2px solid #8658e8;
  width: 200px;
  bottom: 0;
  width: 0;
  transition: 0.5s all;
  transform: scaleX(0);
  position: absolute;
}
.Input_wrapper > input:focus ~ .Input_label {
  animation-play-state: running;
}
.Input_wrapper > input:focus ~ .Line {
  width: 210px;
  transform: scaleX(1);
}

@keyframes move {
  to {
    transform: translateY(-15px);
  }
}
@media only screen and (max-width: 600px) {
  .Input_wrapper >input{
    width: 120px;
  }
  .Input_wrapper > input:focus ~ .Line {
    width: 130px;
  
  }
}
